<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.meu.mapper.PostMapper">
    <insert id="save">
        INSERT INTO Post(userId, content)
        VALUES (#{post.userId}, #{post.content});
    </insert>

    <update id="update">
        UPDATE Post
        SET content=#{post.content}
        WHERE postId=#{post.postId};
    </update>

    <delete id="delete">
        DELETE FROM Post
        WHERE postId=#{id};
    </delete>

    <select id="findOne" resultType="com.codepresso.meu.vo.Post">
        select
            p.postId,
            p.userId,
            p.content,
            p.createdAt,
            u.email,
            u.nickname
        FROM Post as p
        JOIN User as u
        ON p.userId = u.userId
        WHERE p.postId=#{id};
    </select>

    <select id="findAll" resultType="com.codepresso.meu.vo.Post">
        select
            p.postId,
            p.userId,
            p.content,
            p.createdAt,
            u.email,
            u.nickname
        FROM Post as p
        JOIN User as u
        ON p.userId = u.userId
        ORDER BY p.postId DESC
    </select>



</mapper>