<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.meu.mapper.TagMapper">
    <select id="findTagByContent" resultType="com.codepresso.meu.vo.Tag">
        SELECT *
        FROM Tag
        where content=#{content};
    </select>

    <insert id="saveTag">
        INSERT INTO Tag(content)
        VALUES (#{content});
    </insert>

</mapper>