<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.meu.mapper.TagMapper">
    <select id="findTagByContent" resultType="com.codepresso.meu.vo.Tag">
        SELECT *
        FROM Tag
        where content=#{content};
    </select>

    <insert id="saveTag">
        INSERT INTO Tag(content)
        VALUES (#{content});
    </insert>

    <select id="countTag" resultType="Integer">
        SELECT count(*)
        FROM Tag as t
        JOIN TagPostMapping as tp
        ON t.tagId = tp.tagId
        WHERE t.tagId=#{tagId};
    </select>

    <update id="addTagCount">
        UPDATE Tag
        SET tagCount = tagCount + 1
        WHERE tagId=#{tagId};
    </update>

    <select id="findByTagCount" resultType="com.codepresso.meu.vo.Tag">
        select *
        FROM Tag
        ORDER BY tagCount DESC
        LIMIT 10;
    </select>

</mapper>