<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.meu.mapper.UserSessionMapper">
    <select id="findOneById" resultType="com.codepresso.meu.vo.UserSession">
        SELECT *
        FROM UserSession
        WHERE sessionId = #{sessionId};
    </select>

    <insert id="save">
        INSERT INTO UserSession(userId)
        VALUES (#{userId});
        <selectKey keyProperty="sessionId" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="delete">
        DELETE FROM UserSession
        WHERE sessionId=#{id};
    </delete>
</mapper>